.cart-sidebar{
    margin: 80px 40px;
    width: 300px;
    background-color: aliceblue;
    height: 100vh;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 600px;
}



.cart-sidebar header{
    font-size: 20px;
    text-align: center;
    background-color: azure;
    color: black;
    line-height: 30px;
    user-select: none;
}