.product-container {
    display: flex;
    margin: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
    border-radius: 4px;
}

.img-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container .product-image {
    border-radius: 8px;
    padding: 30px;
    width: 360px;
    height: 300px;
}

.product-info {
    padding: 30px;
}

.product-info h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: #ed7117;
}

.product-info h4 {
    font-size: 26px;
    text-transform: capitalize;
    margin-top: 10px;
}

.product-description {
    font-size: 18px;
    margin-top: 10px;
}

.price-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.price-left {
    display: flex;
    align-items: center;
    flex: 2;
}

.price-left .curr-price {
    font-weight: bold;
    font-size: 26px;
    padding: 5px;
}

.price-left .disc {
    margin-left: 10px;
    font-size: 16px;
    background-color: #ecc2a3;
    padding: 5px;
    border-radius: 5px;
    color: #ed7117;
    font-weight: bold;
}

.price-right {
    flex: 1;
    text-decoration: line-through;
    font-size: 24px;
    color: #444;
}

.quantity-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: lightcyan;
    font-size: 26px;
    font-weight: bold;
    border-radius: 8px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
}

.quantity {
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
}

.quantity:hover {
    transform: scale(1.02);
}

.medium{
    font-size: medium;
}

.cart-container {
    width: 100%;
    margin-top: 10px;
    background-color: #ed7117;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.cart-container:hover{
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
    transition: all 0.1s step-end;
}

.add-to-cart {
    margin-left: 10px;
}

@media (max-width: 768px){
    .product-container {
        display: block;
        position: relative;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
        border-radius: 4px;
    }
        .img-container .product-image {
            border-radius: 8px;
            width: 100%;
            height: auto;
        }
}
@media (max-width: 500px) {
    .product-container {
        margin: 10px;
    }
    .category {
        border-radius: 4px;
        margin: 8px;
        width: calc(18.66667%);
        height: 100%;
    }
        .product-image {
            border-radius: 8px;
            width: 100%;
            height: auto;
        }
}