@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

:root {
    --background-theme: hsl(0, 0%, 90%);
    --screen-background: hsl(0, 0%, 93%);
    --toggle-background: hsl(0, 5%, 81%);

    --normal-key-background: hsl(45, 7%, 89%);
    --normal-key-shadow: hsl(35, 11%, 61%);
    --del-reset-key-background: hsl(185, 42%, 37%);
    --del-reset--key-shadow: hsl(185, 58%, 25%);
    --equals-key-background: hsl(25, 98%, 40%);
    --equals-key-shadow: hsl(25, 99%, 27%);

    --primary-color: hsl(0, 0, 100%);
    --secondary-color: hsl(60, 10%, 19%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: var(--background-theme);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.calc-top {
    position: relative;
    margin: 50px 0 50px 0;
    width: 320px;
}

.calc-top h1 {
    position: absolute;
    top: 10px;
    color: var(--secondary-color);
}

.calc-top h3 {
    position: absolute;
    top: 30px;
    right: 100px;
    color: var(--secondary-color);
}

.themes {
    position: absolute;
    top: 20px;
    right: -5px;
}

.input label {
    color: var(--secondary-color);
    position: relative;
}

.input input[type="radio"] {
    width: 20px;
    height: 20px;
}

label[for="theme_one"] {
    left: -15px;
}

label[for="theme_two"] {
    left: -15px;
}

label[for="theme_three"] {
    left: -15px;
}

.input input {
    position: relative;
    top: 20px;
}

.input {
    display: flex;
    top: 30px;
}

input[type="text"] {
    width: 320px;
    padding: 20px;
    border: none;
    text-align: end;
    font-size: 28px;
    border-radius: 5px;
    margin: 30px 0 30px 0;
    color: var(--secondary-color);
    background-color: var(--screen-background);
}

.calc-keys {
    background-color: var(--toggle-background);
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 75px);
    border-radius: 10px;
}

button {
    width: 60px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .1s linear;
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    background-color: var(--background-theme);
    box-shadow: 0 5px var(--normal-key-shadow);
}

button:nth-child(4),
button:nth-child(17) {
    background-color: var(--del-reset-key-background);
    box-shadow: 0 5px var(--del-reset--key-shadow);
    color: var(--background-theme)
}

button:nth-child(17) {
    width: 130px;
}

button:nth-child(18) {
    width: 140px;
    font-size: 32px;
    margin-left: 80px;
    background-color: var(--equals-key-background);
    box-shadow: 0 5px var(--equals-key-shadow);
    color: var(--background-theme);
}

button:active {
    transform: translateY(2px);
}