@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
  text-decoration: none;
}

.items-container{
  display: flex;
  flex-direction: column;
  position: relative;
  /* top: 100px; */
  /* z-index: 99; */
}

